.git
.github/pr-assets
.repos
.t3
.vite-plus
**/.vite-plus
**/dist
**/dist-electron
**/node_modules
**/*.log
**/*.tfplan
**/*.tfstate
**/*.tfstate.*
.env
.env.*
!.env.example
artifacts
apps/desktop/*
!apps/desktop/package.json
apps/marketing
apps/mobile
build
caches
docs
infra
native/**/target
node_modules
oxlint-plugin-t3code
packaging/aur
release
userdata
worktrees
